body {
    font-size: 40pxb;
max-width: 500px;
background-color: rgb(105, 105, 124);




h1 {color: azure;
padding-left: 10px;
padding-top: 15px;
padding-right: 10px;
padding-top: 20px;





    
}







h3 {
color: blueviolet;

}
h4 {
color: black;

}
h4 {
color: red;

}
 button {
background-color: rgb(46, 43, 43);

 }












}
img { 
width: 175px;
    max-width:1000px ;
}

































